@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme {
  --font-sans: 'Poppins', sans-serif;
}

@theme static {
  /* Custom Primary Color Palette (DataStewards) */
  --color-primary-50: #F0F8FF;
  --color-primary-100: #DFF1FF;
  --color-primary-200: #B8E4FF;
  --color-primary-300: #79CEFF;
  --color-primary-400: #2AB3FE;
  --color-primary-500: #079DF0;
  --color-primary-600: #007CCD;
  --color-primary-700: #0062A6;
  --color-primary-800: #034978;
  --color-primary-900: #07385A;
  --color-primary-950: #05243D;

  /* Custom Neutral Color Palette (Slate) */
  --color-neutral-50: #F8FAFC;
  --color-neutral-100: #F1F5F9;
  --color-neutral-200: #E2E8F0;
  --color-neutral-300: #CAD5E2;
  --color-neutral-400: #90A1B9;
  --color-neutral-500: #62748E;
  --color-neutral-600: #45556C;
  --color-neutral-700: #314158;
  --color-neutral-800: #1D293D;
  --color-neutral-900: #0F172B;
  --color-neutral-950: #020618;
}
