@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme {
  --font-sans: 'Public Sans', sans-serif;
}

:root {
  --ui-primary: #56AFFF;
}

.dark {
  --ui-primary: #56AFFF;
}
